// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h5 {
    margin: 0;
    font-weight: 600;
    color: #424040e3;
    
}

a, a:hover {
    text-decoration: none;
}

body {
    max-width: 1600px;
    margin: auto;
    font-family: Roboto,sans-serif;
}
.grid-container, .show-camping {
    display: grid;
    grid-template-columns: 65% 35%;

    .gridleft{
        // background-color: beige;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-auto-rows: min-content;
        padding: 10px;
        grid-gap: 20px;
    }

    .gridright{
        // background-color: burlywood;

        img {
            width:200px; 
            height:150px; 
            object-fit: cover;
        }
    }

}

.single_camping {
    border: solid 1px black;
    border-radius: 13px 13px 13px 13px;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    img {
        width:100%;

        height:240px;
        border-radius: 13px 13px 0px 0px;
    }



    .single_camping_info {
        padding: 15px 15px 15px 10px;

        .location_info {
            color: rgb(252, 76, 2);
            font-weight: 800;
        }

        .review {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            color: #5a5a5a;
            padding: 12px 0px 6px 0px;
        }

        .website_link {
            text-align: center; 
            color: #ff4500;
            font-weight: 600;
            padding-top: 10px;
        }
    }
}

.rated_camping_info {
    padding: 5px 15px;

        h4 {
            font-weight: 600;
            color: #424040e3;
            font-size: 16px;
        }

        .location_info {
            color: #fc4c02;
            font-weight: 600;
            font-size: 12px;
        }

        .review {
            font-size: 16px;
            font-weight: 600;
            color: #5a5a5a;
            // padding: 12px 0px 6px 0px;
        }

        .camping_tags{
            position: relative;
            bottom: -40px;
            
            a {
                color: #737373;
                background-color: #cccccc;
                padding: 6px;
                &:hover {
                    color: #000;
                    background-color: #bbbbbb;
                    padding: 6px;
                }
            }
        }
}

.information-button{
    transition: none;
    color: #ff4500;
    border: 2px solid #ff4500;
    border-radius: 4px;
    flex: 1;
    white-space: nowrap;
    &:hover {
        background: #ff4500;
    }

    a {
        transition: none!important;
        color: #ff4500;
        width: 100%;
        font-size: 16px;
        border-radius: 0;
        &:hover {
            color: #fff;
        }
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

//show
.show-camping {
    .show-camping-info{
        padding: 0 20px;

        img{
            width: 100%;
            object-fit: cover;
            height: 500px;
        }

        .accommodation-photos {
            img{
                height: 200px;
                width: 24%;
                padding: 10px 0px 10px 10px;
            }
        
        }

        .intro-text-block{
            font-size: 22px;
            padding: 10px;
        }
    
        .camping_tags{
            display: flex;
            padding: 10px 0px;
            a {
                background: 0 0;
                height: 34px;
                width: 100px;
                margin-right: 7px;
                border-radius: 5px;
                color: #67747c;
                font-size: 14px;
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
        }
    }
    

}

.admin-button {
    border-radius: 5px;
    background: #fc4c02;
    color: #fff;
    padding: 7px 15px;
}

//   form 
.form {
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;

    .form_header {
        font-weight: bold;
        font-style: italic;
        border-bottom: 2px solid #ddd;
        margin-bottom: 20px;
        font-size: 15px;
        padding-bottom: 3px;
    }

    label {
        display: block;
        margin: 0px 0px 15px 0px;
    }

    
        .input{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid #C2C2C2;
        box-shadow: 1px 1px 4px #EBEBEB;
        -moz-box-shadow: 1px 1px 4px #EBEBEB;
        -webkit-box-shadow: 1px 1px 4px #EBEBEB;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        padding: 7px;
        outline: none;
    }
}


.form_create_edit{
    display: flex;
    padding: 20px;
}

.form-style-2{
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 120px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style-2 span.required{
    color:red;
}
.form-style-2 .tel-number-field{
    width: 40px;
    text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
    width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
    border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
    height:100px;
    width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

// pagination
.w-5 {
    height: 20px;
}