<template>


    <div>
        Import status
            <div class="progress">
            <div class="progress-bar" v-bind:style="{ width: procentai + '%' }">{{ procentai }}%</div>

        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                batches: {},
                procentai: {},
                x: ''
                // procentai: batches.failedJobs
            }
        },
        mounted() {
           


            axios.get('/campings-tags').then(Response => {
                this.tags = response.data.data;


            })
        }

    }
</script> 
